
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,300&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: white;
  overflow: hidden;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0px;
  box-sizing: border-box;
}

p[id^="error-"],
p[class^="error-"] {
  font-size: 12px;
  color: red;
  margin-top: 4px;
  margin-bottom: 8px;
}

input:not([type="checkbox"]),
textarea {
  width: 100%;
  display: block;
  padding: 12px 15px;
  font-size: 15px;
  color: #495057;
  background-color: #fff;
  border: 1px solid #242424;
  border-radius: 5px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  accent-color: #e1cb1f;
}

textarea {
  height: 100px;
  font-family: "Roboto", sans-serif;
}

button {
  padding: 12px 15px;
  font-size:13px;
  font-weight: 600;
  color: white;
  background-color: #72a0c1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease;
}

button:hover {
  background-color: #72a0c1;
}

table {
  width: 100%;
  margin-top: 24px;
  text-align: left;
  border-spacing: 0;
  border-collapse: separate;
  background: #fff;
  z-index: 1000;
}

thead {
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  color: #72a0c1;
  text-transform: uppercase;
  vertical-align: left;
}

table tr th {
  text-align: left;
  cursor: pointer;
  background: #ebeef1;
  padding: 5px;
  padding-left: 22px;
  border-top: 1px solid #e0e4e6;
  border-bottom: 1px solid #e0e4e6;
  white-space: nowrap;
}

table tr td {
 
  font-size: 15px;
  color: #455a64;
  padding: 12px;
  padding-left: 22px;
  border-bottom: 1px solid #e0e4e6;
  font-family: Poppins ;
  text-align: left;

}

table tr:hover {
  background-color: #fafbfc;
}

.action-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
  cursor: pointer;
}

.action-icon.delete {
  color: #f25e5e;
  cursor: pointer;
}

.action-icon.delete:hover {
  background-color: rgb(248, 221, 221);
}

.action-icon.edit {
  color: #578ebe;
  cursor: pointer;
}

.action-icon.edit:hover {
  background-color: rgb(222, 247, 250);
}

.action-icon.back:hover {
  background-color: rgb(232, 232, 232);
}

.container-table {
  width: 100%;
  overflow-x: auto;
}
select {
  background-color: #72a0c1;
  color: white;
  padding: 12px;
  width: 120px;
  height: 37px;
  border: none;
  font-size: 13px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  border-radius: 5px;
  margin-bottom: 30px;
  border-radius: 5px;
  }
  select option {
    font-size:10px ;
  }
  
